{
  "cmake.buildDirectory": "<gen_build_dir/>",
  "editor.mouseWheelZoom": true,
  "cmake.configureArgs": ["-DCMAKE_EXPORT_COMPILE_COMMANDS:BOOL=TRUE"<gen_cmake_build_type/>],
  "clangd.arguments": [ "-pretty",
                         "--background-index=false",
                         "--compile-commands-dir=<gen_build_dir/>",
                         "--query-driver=/usr/bin/g++"],
  "clangd.fallbackFlags": ["-std=c++17", "-xc++"],
}
